@model List<Message>
@{
    ViewData["Title"] = "MessageList";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Mesajlar</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">

					<div class="card-body">

						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">İsim Soyisim</th>
									<th scope="col">Konu</th>
									<th scope="col">Eposta</th>
									<th scope="col">Mesaj Detayı</th>
									<th scope="col">Gönderim Tarihi</th>
									<th scope="col">Okundu Bilgisi</th>
									<th scope="col">Sil</th>
									<th scope="col">Güncelle</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.MessageID</td>
										<td>@item.NameSurname</td>
										<td>@item.Subject</td>
										<td>@item.Email</td>
										<td>@item.MessageDetail</td>
										<td>@item.SendDate</td>
										<td>@item.IsRead</td>
										<td><a href="/Message/DeleteMessage/@item.MessageID" class="btn btn-danger">Sil</a></td>
										<td><a href="/Message/UpdateMessage/@item.MessageID" class="btn btn-success">Güncelle</a></td>

									</tr>

								}
							</tbody>
						</table>
						<a href="/Message/CreateMessage/" class="btn btn-primary">Ekle</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

